---
# wallix_bastion role - account management tasks

- name: Get existing accounts
  ansible.builtin.uri:
    url: "{{ wallix_base_url }}/accounts?limit=1000"
    method: GET
    headers:
      Authorization: "{{ wallix_auth_header }}"
      Content-Type: "application/json"
    validate_certs: "{{ wallix_verify_ssl }}"
    timeout: "{{ wallix_timeout }}"
  register: existing_accounts
  when: wallix_get_existing | default(true)

- name: Build existing accounts lookup
  ansible.builtin.set_fact:
    existing_account_names: "{{ existing_accounts.json.data | default([]) | map(attribute='account_name') | list }}"
  when: existing_accounts is defined

- name: Create accounts
  ansible.builtin.uri:
    url: "{{ wallix_base_url }}/accounts"
    method: POST
    headers:
      Authorization: "{{ wallix_auth_header }}"
      Content-Type: "application/json"
    body_format: json
    body:
      account_name: "{{ item.account_name }}"
      account_login: "{{ item.login }}"
      device: "{{ item.device }}"
      description: "{{ item.description | default('') }}"
      auto_change_password: "{{ item.auto_change_password | default(wallix_password_auto_change) }}"
      checkout_policy: "{{ item.checkout_policy | default('') }}"
    validate_certs: "{{ wallix_verify_ssl }}"
    timeout: "{{ wallix_timeout }}"
    status_code: [200, 201]
  loop: "{{ wallix_accounts }}"
  when:
    - wallix_accounts is defined
    - item.account_name not in (existing_account_names | default([]))
    - not (wallix_check_mode | default(false))
  register: created_accounts
  retries: "{{ wallix_retries }}"
  delay: "{{ wallix_retry_delay }}"
  until: created_accounts is not failed
  ignore_errors: "{{ wallix_ignore_errors | default(false) }}"
  no_log: "{{ not (wallix_debug | default(false)) }}"

- name: Set account credentials
  ansible.builtin.uri:
    url: "{{ wallix_base_url }}/accounts/{{ item.account_name }}/credentials"
    method: PUT
    headers:
      Authorization: "{{ wallix_auth_header }}"
      Content-Type: "application/json"
    body_format: json
    body:
      type: "{{ item.credential_type | default('password') }}"
      password: "{{ item.password | default(omit) }}"
      private_key: "{{ item.private_key | default(omit) }}"
    validate_certs: "{{ wallix_verify_ssl }}"
    timeout: "{{ wallix_timeout }}"
    status_code: [200, 204]
  loop: "{{ wallix_accounts }}"
  when:
    - wallix_accounts is defined
    - item.password is defined or item.private_key is defined
    - not (wallix_check_mode | default(false))
  ignore_errors: "{{ wallix_ignore_errors | default(false) }}"
  no_log: true

- name: Rotate account passwords
  ansible.builtin.uri:
    url: "{{ wallix_base_url }}/accounts/{{ item }}/password/change"
    method: POST
    headers:
      Authorization: "{{ wallix_auth_header }}"
      Content-Type: "application/json"
    validate_certs: "{{ wallix_verify_ssl }}"
    timeout: "{{ wallix_timeout }}"
    status_code: [200, 202]
  loop: "{{ wallix_accounts_to_rotate | default([]) }}"
  when:
    - wallix_accounts_to_rotate is defined
    - not (wallix_check_mode | default(false))
  register: rotated_accounts
  ignore_errors: "{{ wallix_ignore_errors | default(false) }}"

- name: Get account password (checkout)
  ansible.builtin.uri:
    url: "{{ wallix_base_url }}/accounts/{{ item.account_name }}/password"
    method: GET
    headers:
      Authorization: "{{ wallix_auth_header }}"
      Content-Type: "application/json"
    body_format: json
    body:
      reason: "{{ item.reason | default('Ansible automation checkout') }}"
      duration: "{{ item.duration | default(3600) }}"
    validate_certs: "{{ wallix_verify_ssl }}"
    timeout: "{{ wallix_timeout }}"
    status_code: [200]
  loop: "{{ wallix_accounts_to_checkout | default([]) }}"
  when:
    - wallix_accounts_to_checkout is defined
    - not (wallix_check_mode | default(false))
  register: checked_out_passwords
  no_log: true

- name: Delete accounts
  ansible.builtin.uri:
    url: "{{ wallix_base_url }}/accounts/{{ item }}"
    method: DELETE
    headers:
      Authorization: "{{ wallix_auth_header }}"
    validate_certs: "{{ wallix_verify_ssl }}"
    timeout: "{{ wallix_timeout }}"
    status_code: [200, 204, 404]
  loop: "{{ wallix_accounts_to_delete | default([]) }}"
  when:
    - wallix_accounts_to_delete is defined
    - not (wallix_check_mode | default(false))
  ignore_errors: "{{ wallix_ignore_errors | default(false) }}"
